.column {
    grid-column: 2;
}

.imagen {
    grid-column: 1;
}

.movimientos {
    grid-column: 3;
}

.info {
    display: grid;
    grid-template-columns: 19% 42% 50%;
}

h2 {
    text-align: center;
}